:root{

}

html,body{
    margin:0;
    position: relative;
}

.header{
    background-color:#e3f6f5;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 0px 1px 4px rgb(0,0,0,0.5);
    padding:2rem;
    position: relative;
    z-index: 1;
}

.header p{
    margin:0
}

.content{
    background-color:#ffffff;
    padding:2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 2rem;
    justify-items: center;
}

.content button{
    grid-column: 1/-1;
    text-decoration: none;
    border:none;
    background-color: #403e52;
    width:50%;
    padding: 1rem 2rem; 
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgb(0,0,0,0.5);
}

.content button:active{
    transform: scale(0.98);
}

.content .card{
    background-color: #bae8e8;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    box-shadow: 0px 1px 4px rgb(0,0,0,0.5);
}

.pop-up{
    position: absolute;
    box-shadow: 0px 1px 4px rgb(0,0,0,0.5);
    border-radius: 10px;
    background-color: #ddf1f1;
    padding:3rem;
    top:50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.pop-up label, .pop-up input, .pop-up button{
    display:block
}

.pop-up label[for=read], .pop-up input[id=read]{
    display:inline-block;
    vertical-align: middle;
}

.pop-up input{
    border: none;
    border-radius: 5px;
    padding:0.3rem 0.8rem;
    margin: 0.3rem 0;
}

.pop-up button{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
    width: 100%;
    border:none;
    border-radius: 5px;
    background-color: #403e52;
    padding: 0.5rem 1rem
}
.pop-up button:active{
    transform: scale(0.98);
}